@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono&family=Roboto+Slab&family=Signika+Negative&display=swap');
body { 
  margin: 0px;
  background-color: #f3f3f3;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-family: 'Signika Negative', sans-serif;
  }
a {
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

li {
  float: left;
}

li a, .currentuser {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:hover {
  background-color: #111
}
.welcome {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 170px;
  padding-bottom: 180px;
}
.welcome2 {
  background-color: #3a61ce;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer {
  background-color: #1f1f1f;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.loginbg {
  background-color: #3a61ce;
  height: calc(100vh - 68px);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 20px;
}
.button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(20,20,20,0.2);
  color: white;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s;
  transition: 0.3s;
}
.button:hover {
  cursor: pointer;
  color: #ff4444;
  background-color: rgba(30,30,30,0.2);
  text-decoration: none;
  transition: transform 0.2s;
  transition: 0.3s
}
.center {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}



.loginform[type=text], .loginform[type=password] {
  width: 315px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #00000066;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}

.loginform[type=text]:focus, .loginform[type=password]:focus {
  outline: none;
}

::placeholder {
  color: rgb(255, 255, 255);
}



.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  max-width: 100px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container2 {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
}

.whitebg {
  background-color: white;
  max-width: 680px;
  color: black;
}
.no-margin {
  margin: 0;
}

.button-form {
  background-color: #e4e4e4;
  border-radius: 7px;
  padding: 6px 10px;
  float: right;
  text-decoration: none;
  outline: none;
  transition: transform 0.2s;
  transition: 0.3s;
}

.button-form:hover {
  cursor: pointer;
  background-color: rgba(30,30,30,0.2);
  transition: transform 0.2s;
  transition: 0.3s
}

.formcreationinput{
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #ece8e8;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
.formcreationinput input {
  width: 315px;
}
.formcreationinput[type=text]:focus, .formcreationinput[type=password]:focus {
  outline: none;
}
textarea {
  resize: vertical;
  width: calc(100% - 14px);
}