body { 
  margin: 0px;
  background-color: #f2f2f2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:hover {
  background-color: #111
}
.welcome {
  background-image: url(/images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 170px;
  padding-bottom: 180px;
}
.button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(20,20,20,0.2);
  color: white;
  border-radius: 6px;
  outline: none;
  transition: transform 0.2s;
  transition: 0.3s;
}
.button:hover {
  cursor: pointer;
  color: #ff4444;
  background-color: rgba(30,30,30,0.2);
  text-decoration: none;
  transition: transform 0.2s;
  transition: 0.3s
}
